<div class="row">

  <div class="small-6 large-centered columns middle">
    <ul class="nav nav-pills nav-stacked">
      <% @links.each do |link| %>
      <% if link.name.match /^[gG]ithub$/ %>
      <li><a href="<%= link.uri %>" class="button radius"><i class="fa fa-github-square fa-2x"></i><%= link.name %></a></li>
      <% elsif link.name.match /^[fF]acebook$/ %>
      <li><a href="<%= link.uri %>" class="button radius"><i class="fa fa-facebook-square fa-2x"></i><%= link.name %></a></li>
      <% elsif link.name.match /^[yY]outube$/ %>
      <li><a href="<%= link.uri %>" class="button radius"><i class="fa fa-youtube fa-2x"></i><%= link.name %></a></li>
      <% elsif link.name.match /^[gG]oogle+$/ %>
      <li><a href="<%= link.uri %>" class="button radius"><i class="fa fa-google-plus fa-2x"></i><%= link.name %></a></li>
      <% elsif link.name.match /^[lL]inked[iI]n$/ %>
      <li><a href="<%= link.uri %>" class="button radius"><i class="fa fa-linkedin-square fa-2x"></i><%= link.name %></a></li>
      <% elsif link.name.match /^[tT]witter$/ %>
      <li><a href="<%= link.uri %>" class="button radius"><i class="fa fa-twitter-square fa-2x"></i><%= link.name %></a></li>
      <% else %>
      <li><a href="<%= link.uri %>" class="button radius"><%= link.name %></a></li>
      <% end %>
      <%= link_to 'Edit', edit_link_path(link) %>
    <% end %>
    </ul>

  </div>

</div>


  <span>
    <div class="welcome">Welcome Michael, </div>
    
  </span>
