<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script src='http://cdn-files.deezer.com/js/min/dz.js'></script>
  </head>

  <body>
    <!-- <header id="header">
      <div class="header_content">
        <nav id="navigation">
          <div class="float-left">
            <ul>
              <li>g</li>
            </ul>
          </div>
          <div class="center">
            <ul>
              <li class="initials">MB</li>
            </ul>      
          </div>
          <div class="float-right">
            <ul>
              <li>g</li>
            </ul>
          </div>
        </nav>
      </div>
    </header> -->
    <header>
      <%= render 'layouts/foundation_header.erb' %>
    </header>
    <div id="dots"></div>
    <div class="content_wrapper">
      <%= yield %>
    
    <%= javascript_include_tag "application" %>
    </div>
  </body>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
</html>