<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script src='http://cdn-files.deezer.com/js/min/dz.js'></script>
  </head>

  <body>
    <header>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">MyHome</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <% if current_user %>
            <li class="active"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li class="active"><a href="/users/sign_up">Sign Up</a></li>
            <% end %>
            <li class="has-dropdown">
              <a href="#"><i class="fa fa-cog fa-spin fa-2x headerCog"></i></a>
              <ul class="dropdown">
                <% if current_user %>
                <li><%= link_to "AddLink", new_user_link_path(current_user.id), :id => 'addlink' %></li>
                <% end %>
                <% unless current_user %>
                <li><a href="/users/sign_in">Sign In</a></li>
                <% end %>
              </ul>
            </li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li><a href="#" id="timestamp"></a></li>
          </ul>
        </section>
      </nav>
    </header>
    <div id="clouds" style="padding-top: 1px;">
      <%= yield %>
      <div class="cloud x1"></div>
      <!-- Time for multiple clouds to dance around -->
      <div class="cloud x2"></div>
      <div class="cloud x3"></div>
      <div class="cloud x4"></div>
      <div class="cloud x5"></div>
    
    <%= javascript_include_tag "application" %>
    </div>
  </body>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
</html>